
/* Side menubar section */
nav{
    background: #fff;
    border-radius: 10px;
  }
  .side_navbar{
    padding: 1px;
    display: flex;
    flex-direction: column;
  }
  .side_navbar span{
    color: gray;
    margin: 1rem 3rem;
    font-size: 12px;
  }
  .side_navbar a{
    width: 100%;
    padding: 0.8rem 3rem;
    font-weight: 500;
    font-size: 15px;
    color: rgb(100, 100, 100);
  }
  .links{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  .links a{
    font-size: 13px;
  }
  .side_navbar a:hover{
    background: rgb(235, 235, 235);
  }
  .side_navbar .active{
    border-left: 2px solid rgb(100, 100, 100);
  }
  